<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>193755658498-nqcpqfuhq90ota77oktl2am93eu2oj51.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.193755658498-nqcpqfuhq90ota77oktl2am93eu2oj51</string>
	<key>API_KEY</key>
	<string>AIzaSyAdYxoKSQY2R8KZLpdA-VwzAJmuxTeSD7w</string>
	<key>GCM_SENDER_ID</key>
	<string>193755658498</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.franabreu.tfg</string>
	<key>PROJECT_ID</key>
	<string>tfgdb-6df87</string>
	<key>STORAGE_BUCKET</key>
	<string>tfgdb-6df87.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:193755658498:ios:cfc3b3e0df172cbb732a1b</string>
	<key>DATABASE_URL</key>
	<string>https://tfgdb-6df87.firebaseio.com</string>
</dict>
</plist>